      <footer class="site-footer">
        <p class="site-footer__tagline">
          An
          <a
            href="__NEXT_PUBLIC_LX_SOFTWARE_URL__"
            target="_blank"
            rel="noreferrer noopener"
          >LX Software</a>
          product. Hong Kong, SAR.
        </p>
        <p class="site-footer__copyright">
          &copy; __NEXT_PUBLIC_BUILD_YEAR__
          <a
            href="__NEXT_PUBLIC_LX_SOFTWARE_URL__"
            target="_blank"
            rel="noreferrer noopener"
          >LX Software Limited</a>. All rights reserved.
        </p>
      </footer>
